.filtersPageWrapper {
  width: 100vw;
  height: 60vh;
  // display: grid;
  // justify-content: center;
  // align-items: center;
  font-size: 2vw;
  color: rgb(3, 15, 173);
  background-color: rgb(155, 209, 236);
}

.slide4img {
  height: 50vh;
}

.slider_p {
  text-align: center;
}

