.filtersPageWrapper {
  width: 100vw;
  height: 60vh;
  // display: grid;
  // justify-content: center;
  // align-items: center;
  font-size: 2vw;
  color: rgb(3, 15, 173);
  background-color: rgb(155, 209, 236);
}

.slide1 {
  width: 100vw;
  height: 60vh;
  background-image: url("./../../assets/images/spring.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.slide2 {
  width: 50vw;
  height: 11vh;
  background-color: rgb(230, 112, 57);
}

.slide3 {
  width: 80vw;
  height: 60vh;
  border: 1px solid red;
}

.slide3img {
  width: 70vw;
  height: 50vh;
}
