.mainPageWrapper {
  width: 100vw;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: rgb(9, 17, 143);
  background-color: rgb(211, 217, 220);
}

.rodnichokP {
  text-align: center;
  font-size: 5vw;
  font-weight: 900;
  letter-spacing: 0.5vw;
}

