.mainPageWrapper {
  width: 100vw;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(9, 17, 143);
  background-color: rgb(211, 217, 220);
}

